{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}
<section class="padding-large">
  <div class="container">
    <h2 class="mb-4">Réinitialiser votre mot de passe</h2>

    <form method="post">
      <input type="hidden" name="token" value="{{ token }}">
      <div class="mb-3">
        <label for="password" class="form-label">Nouveau mot de passe</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <button type="submit" class="btn btn-success">Changer le mot de passe</button>
    </form>
  </div>
</section>
{% endblock %}
